services:
  scheduler_backend:
    image: ghcr.io/moda20/scheduler_backend:latest
    #image: ghcr.io/moda20/scheduler_backend:dev for faster but unstable release
    container_name: scheduler_backend
    #restart: always
    env_file:
      - .env
    volumes:
      - ./:/usr/src/app/src/jobs
      - ./logs:/usr/src/app/src/logs/
      - ./outputs:/usr/src/app/src/outputs/
    ports:
      - "8080:8080"

  mysql:
    image: mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root # the db password is just a starter password and should not be used in production
    ports:
      - "3306:3306/tcp"
    volumes:
      - mysql:/var/lib/mysql


  loki:
    image: grafana/loki:latest
    ports:
      - 9001:3100
    volumes:
      - ./loki/loki-config.yaml:/etc/loki/loki-config.yaml # the loki configuration is just a starter configuration and should not be used in production
      - ./loki/data:/loki
    environment:
      - PGID=0
      - PUID=0
    restart: unless-stopped

  scheduler_ui:
    image: ghcr.io/moda20/scheduler_ui:latest
    #image: ghcr.io/moda20/scheduler_ui:dev for faster but unstable release
    restart: unless-stopped
    container_name: scheduler_ui
    ports:
      - "9002:80"


  gotify:
    image: gotify/server
    ports:
      - "9004:80"
    environment:
      GOTIFY_DEFAULTUSER_PASS: 'admin'
    volumes:
      - './gotify_data:/app/data'

  # ntfy if it will be used as a default notification service : official docs https://docs.ntfy.sh/install/
  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    command:
      - serve
    environment:
      - TZ=UTC    # optional: set desired timezone
    volumes:
      - ./cache/ntfy:/var/cache/ntfy
      - ./ntfy:/etc/ntfy
    ports:
      - "9005:80"

# browserless: was removed as it's an unnecessary dependency

volumes:
  mysql:
    driver: local
